/*****
FONTS
*****/

@font-face {
  font-family: "caveat";
  src: url("/fonts/caveat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "homemade-apple";
  src: url("/fonts/HomemadeApple-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "indie_flowerregular";
  src: url("IndieFlower-webfont.eot");
  src: url("IndieFlower-webfont.eot?#iefix") format("embedded-opentype"),
    url("IndieFlower-webfont.woff2") format("woff2"),
    url("IndieFlower-webfont.woff") format("woff"),
    url("IndieFlower-webfont.ttf") format("truetype"),
    url("IndieFlower-webfont.svg#indie_flowerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "note_thisregular";
  src: url("Note_this-webfont.eot");
  src: url("Note_this-webfont.eot?#iefix") format("embedded-opentype"),
    url("Note_this-webfont.woff2") format("woff2"),
    url("Note_this-webfont.woff") format("woff"),
    url("Note_this-webfont.ttf") format("truetype"),
    url("Note_this-webfont.svg#note_thisregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
:root {
  --clr-text1: #512c1d;
  --clr-btn1: #cc6633;
  --clr-btn2: #eca546;
  --clr-secondary: #403d38;
  --clr-accent-dark: #f0b678;
  --ff-default: "Shadows Into Light", cursive, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-default);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  text-decoration: none;
  list-style: none;
}

.mb-0 {
  margin-bottom: 0;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
  position: relative;
}

.bg-beige-cloth {
  background: var(--clr-accent-dark);
  background-image: url(../img/sand-texture3.png);
  background-repeat: repeat;
  background-position: center center;
  background-blend-mode: multiply;
}

.logo-img {
  margin-left: 1em;
  width: 10em;
  mix-blend-mode: multiply;
}

nav li {
  padding: 5px 20px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: #fce2c6;
}

nav a::before,
nav a::after {
  display: inline-block;
  content: "\2606";
  padding: 0 5px;
}

nav a:hover::before,
nav a:hover::after {
  transform-origin: 52% 54%;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: 0;
}

.mobile-nav {
  display: inline-block;
  position: absolute;
  width: 12em;
  top: 100%;
  right: -12em;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
  z-index: 5;
  transition: all 0.28s cubic-bezier(0, 0, 0.58, 1);
}

h3.mobile-nav-button {
  width: 8em;
  margin: 0;
  font-size: 1em;
  text-align: right;
  cursor: pointer;
}

.mobile-nav ul {
  padding: 10px 0;
  margin: 0;
}

.nav-slide {
  right: 0;
}

.pc-menu {
  display: none;
}

.pc-nav {
  height: 100%;
}
.pc-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  align-items: flex-end;
}

.pc-nav ul li {
  font-size: 1.5vw;
}

@media (min-width: 600px) {
  body {
  }

  .mobile-menu {
    display: none;
  }

  .pc-menu {
    display: inline-block;
  }
}

@media (max-width: 1060px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}

main {
  overflow: visible;
}
section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.chalkboard {
  font-family: "homemade-apple";
  background-image: url(/img/chalkboard.png);
  background-repeat: repeat;
  background-position: center center;
  background-blend-mode: multiply;
  color: pink;
}
.chalkboard h2 {
  font-size: 3em;
  color: yellow;
  opacity: 0.7;
  width: 7ch;
  line-height: 1.5em;
  text-align: center;
}

h2::after {
  background: yellow;
  opacity: 0.7;
  width: 9ch;
  height: 5psx;
  text-align: center;
}
